* {
    user-select: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: #f5f5f5;
    --gray: #485550;
    --ligthGray: #c5c5c5;
    --green: #C0EB6A;
}

body {
    font-family: sans-serif;
}

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--white);
}

.header {
    width: 100%;
    height: 10%;
    display: grid;
    place-items: center;
    background: var(--gray);
}

.nav {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.nav--links {
    padding: .5em .7em;
    background: var(--green);
    border-radius: .2em;
    border: 2px solid var(--green);
    color: var(--gray);
    text-transform: uppercase;
    transition: ease .2s;
}

.nav--links:is(:hover, :active, :focus) {
    background: var(--gray);
    color: var(--white);
    cursor: pointer;
}

.nav--links.active {
    background: var(--gray);
    color: var(--green);
}

.section {
    margin: auto;
    width: 90%;
    height: 90%;
    display: grid;
    place-items: center;
    position: relative;
}

.article {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: ease 1s;

    width: 100%;
    height: 90%;
    display: none;
    place-items: center;
}

.article.active {
    display: grid;
    opacity: 1;
    visibility: visible;
}

.form {
    width: 100%;
    height: 50%;
    padding: 1em;
    background: var(--ligthGray);
    border-radius: 5px;
    display: flex;
    align-items: self-start;
    flex-direction: column;
}

.select-container {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

select,
.button {
    background-color: var(--white);
    padding: .7em;
    text-transform: uppercase;
}

select:hover {
    cursor: pointer;
}

.result {
    font-size: x-large;
    font-family: Verdana;
}

.button {
    border: 1px solid var(--gray);
    border-radius: 5px;
    transition: ease .2s;
}

.button:hover {
    cursor: pointer;
    background: var(--gray);
    color: var(--white);
}